.header{
    width:100%;
    display:flex;
    align-items:center;
    margin-bottom:12px;
}

.header-logo{
    height: 27px;
    max-width: 160px;
    margin-right: 24px;
}

.header-right{
    display:flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-location-search-container{
    height:54px;
    display:flex;
    align-items:center;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow) ;
    border:1px solid var(--border-white);
    width:70%;
    background-color: var(--primary-bg);
}
.location-wrapper{
    display:flex;
    flex:1;
    justify-content: space-between;
    padding:0px 10px;
}

.location-icon-name{
    display:flex;
    color: var(--zomato-grey);
}

.location-icon{
    color: var(--zomato-red);
    font-size: 20px;
    margin-right:8px;
}

.location-seperator{
    height:20px;
    border: 1px solid var(--grey);
}

.header-searchbar{
    display: flex;
    flex:2;
}

.search-icon{
    font-size: 20px;
    color:var(--zomato-grey);
    margin:0px 12px;
}

.search-input{
    border: none;
    outline: none;
    width:60%;
    font-size:14px;
}

.profile-wrapper{
    display: flex;
    justify-content: space-between;
    width:15%;
    align-items: center;
}

.header-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://b.zmtcdn.com/data/user_profile_pictures/05b/dc353a5….jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-username{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0.5rem;
    color: rgb(28, 28, 28);
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profle-options-icon{
    font-size: 20px;
}